.calci{
    display: flex;
    flex-direction: column;
   
}
.bottom{
    display: grid;
    grid-template-columns: repeat(4,80px);
}
button{
    font-size: 20px;
    padding: 5px;
}
input{
    width: 296px;
    height: 40px;
    background-color: rgb(54, 51, 51);
    color: rgb(108, 172, 229);
    font-size: 20px;
    padding: 10px;
    text-align: right;
}
